.certificationsSection {
    background-color: #f5f9fd;
}

.titleCertificationsh1 {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    margin-left: 10px;
    font-weight: 900;
    padding-top: 20px;
    text-align: center;
}

.titleCertificationsP {
    font-family: 'Courgette', cursive;
    font-size: 20px;
    margin-left: 10px;
    font-weight: 900;
    text-align: center;
}

.certificationsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.certification1, .certification2,  .certification3,  .certification4,  .certification5,  .certification6,  .certification7, .certification8 {
    border: 1px solid black;
    width: 200px;
    height: 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 9px 5px -2px rgba(0,0,0,0.56);
    -webkit-box-shadow: 10px 9px 5px -2px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 9px 5px -2px rgba(0,0,0,0.56);
    padding: 10px;
}

.certification1 img, .certification2 img,  .certification3 img,  .certification4 img,  .certification5 img,  .certification6 img,  .certification7 img, .certification8 img {
    width: 150px;
    height: 100px;
}

.certification1 p, .certification2 p,  .certification3 p,  .certification4 p,  .certification5 p,  .certification6 p,  .certification7 p, .certification8 p {
    font-size: 12px;
}

.certification1 h6, .certification2 h6,  .certification3 h6,  .certification4 h6,  .certification5 h6,  .certification6 h6,  .certification7 h6, .certification8 h6 {
    margin-top: 10px;
    height: 70px;
    min-height: 70px;
}