.container-fluid {
    padding: 0;
}

.navbar {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(247,247,247,1) 0%, rgba(249,252,252,1) 33%, rgba(189,209,244,1) 100%);
}

.social-buttons {
    display: flex;
    margin-right: 10px;
    font-size: 25px;
}

.button1 {
    margin-right: 20px;
}

.button1 :hover {
    transform: scale(1.5);
}

.button2 {
    margin-right: 20px;
}

.button2 :hover {
    transform: scale(1.5);
}

.navbarTitle {
    font-family: 'Courgette', cursive;
    font-size: 1.5rem;
    margin-left: 10px;
    font-weight: 900;
}