.container-fluid {
    padding: 0;
}

.social-buttons {
    display: flex;
    margin-right: 10px;
    font-size: 25px;
}

.button1 {
    margin-right: 20px;
}

.button1 :hover {
    transform: scale(1.5);
}

.button2 {
    margin-right: 20px;
}

.button2 :hover {
    transform: scale(1.5);
}