.skillsSection {
    background-color: white;
}

.titleSkills {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    margin-left: 10px;
    font-weight: 900;
    padding-top: 20px;
    text-align: center;
}

.skillsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.skillcard1, .skillcard2, .skillcard3, .skillcard4, .skillcard5, .skillcard6, .skillcard7 {
    width: 200px;
    min-width: 200px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 10px 9px 5px -2px rgba(0,0,0,0.56);
    -webkit-box-shadow: 10px 9px 5px -2px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 9px 5px -2px rgba(0,0,0,0.56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.skillcard1 {
    background-color: #F6E6C2;
}

.skillcard2 {
    background-color: #B9F3E4;
}

.skillcard3 {
    background-color: #C9F4AA;
}
.skillcard4 {
    background-color: #93BFCF;
}

.skillcard5 {
    background-color: #D9ACF5;
}

.skillcard6 {
    background-color: #FFD4B2;
}

.skillcard7 {
    background-color: #FF9F9F;
}