.skillsSection {
    background-color: white;
}

.titleSkills {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    margin-left: 10px;
    font-weight: 900;
    padding-top: 20px;
    text-align: center;
}

.skillsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.skillcard1, .skillcard2, .skillcard3, .skillcard4, .skillcard5, .skillcard6, .skillcard7, .skillcard8, .skillcard9, .skillcard10 {
    width: 200px;
    min-width: 200px;
    height: 50px;
    border-radius: 10px;
    box-shadow: 10px 9px 5px -2px rgba(0,0,0,0.56);
    -webkit-box-shadow: 10px 9px 5px -2px rgba(0,0,0,0.56);
    -moz-box-shadow: 10px 9px 5px -2px rgba(0,0,0,0.56);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}

.skillcard1 {
    background-color: #fbf8cc;
}

.skillcard2 {
    background-color: #fde4cf;
}

.skillcard3 {
    background-color: #ffcfd2;
}
.skillcard4 {
    background-color: #f1c0e8;
}

.skillcard5 {
    background-color: #cfbaf0;
}

.skillcard6 {
    background-color: #a3c4f3;
}

.skillcard7 {
    background-color: #90dbf4;
}

.skillcard8 {
    background-color: #8eecf5;
}

.skillcard9 {
    background-color: #98f5e1;
}

.skillcard10 {
    background-color: #b9fbc0;
}
